@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+JP:wght@100..900&display=swap');

/* Set box-sizing to border-box globally */
* {
    box-sizing: border-box;
  }
  
  @import url('reset.css');
  
  /*-------------nav styling----------------*/
  header {
    background-color: #ffd0d6;
    height: 20%;
    font-family: "Caveat", cursive;
  }
  body::-webkit-scrollbar {
    display: none;
}
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  #nav-buttons > button:hover{
    background-color: rgb(226, 226, 226);
  }
  #nav-buttons >  button:active{
    background-color: #929292;
  }

  
  .logo > img {
    width: 150px;
  }
  
  button {
    border: none;
    width: 100px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
    font-size: 30px;
    color: #584b4b;
  }
  
  body {
    margin: 0; 
    height: 100vh;
    display: flex;
    flex-direction: column; 
  }
  
  
  #nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  /* ------------home styling --------------*/
  #contentHome {
    background-image: url(../images/gbpBgCoco.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: stretch; 
    flex: 1; 
    font-family: "Noto Sans JP", sans-serif;
    height: 80%;
  }

  .nekopara-img{
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8)); 
    max-height: 100%; 
    width: auto; 
    max-width: 100%; 
    display: block;
    margin: 0 auto; 
  }
 #left{
    flex: 1; 
    display: flex;
    justify-content: center;
 }
 #left > div {
  max-width: 100%; 
  max-height: 100%; 
  text-align: center;
}
  #right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
    font-size: 40px;
    color: #584b4b;
  }

  /*------------menu styling -------------*/
  #contentMenu {
    padding: 128px 128px;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    justify-content: center;
    align-items: center;
    font-family: "Caveat", cursive;
    font-size: 25px;
    background-image: url(../images/flowers-background);
    background-repeat: repeat;
    background-size: 200px 200px; 
}
#menu-food{
    display: flex;
    align-items: center;
    gap: 100px;
}
.food-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
    padding: 20px;
    min-width: 350px;
    color: #584b4b;

}
.food-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px 0px;
    background-color: #ffd0d6;
    width: 500px;
    max-height: 500px;
    padding: 10px 32px;
    border: 10px solid #ecbe95;
}
.food-img > img{
  height: 250px;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
}
.second-menu {
    justify-content: flex-end;
}
  
/*------------about styling -------------*/
#first{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px;
  background-color: white;
  padding: 50px;
  z-index: 5;
  font-family: "Caveat", cursive;
  color: #584b4b;

}
#first > h2 {
  font-size: 35px;
}
#first > div {
  font-size: 25px;
  border-top: 1px solid #584b4b;
  padding-top: 20px;
}
  
#aboutMenu{
  height: 100vh;
  background-image: url(../images/flowers-background);
    background-repeat: repeat;
    background-size: 200px 200px; 
}
