@import url('reset.css');
/*-------------nav styling----------------*/
header{
    background-color: #ffd0d6;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo > img{
    width: 150px;
}
button{
    border: none;
    width: 100px;
    height: 80px;
}
#nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* ------------home styling --------------*/
#contentHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}



